.white {
    position: absolute;
    top: 280px;
    background-color:black;
    right: 1300px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: 5px;
}

.car {
    font-family: sans-serif;
    color: white;
}

.jar {
    position: absolute;
    left: 940px;
    right: 0px;
    bottom: 0px;
    top: 0px;
}

body {
    background-color: #222;
    font-family: sans-serif;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.form_group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
}

.form_field {
    font-family: sans-serif;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form_field::placeholder {
    coLor: transparent;
}

.form_label{
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}
.form_field:placeholder-shown ~ .form_label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form_field:focus {
    padding-bottom: 10px;
    font-weight: 700;
    border-width: 0 0 3px 0;
    border-image: linear-gradient(to right,#ff0062,#00ffff );
    border-image-slice: 1;
}
.form_field:focus ~ .form_label{
  position: absolute;  
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #2afadf;
  font-weight: 700;
}

.judge {
    font-family: sans-serif;
    color: #fff;
}

.neon-button {
    border: 2px solid #00ffff;
    border-radius: 3px;
    background-color: black;
    color: #00ffff;
    font-size: medium;
    transition-duration: 0.2s;
}
.neon-button:hover {
    color: #ff0062;
    border-color: #ff0062;
    font-size: large;

}
    
.Dac {
    height: 1200px;
    width: 1300px;
}


